<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/application.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <div class='body'>
      {{ content }}
    </div>
    {% include footer.html %}
    <script src="/assets/vendor/jquery-rails/javascripts/jquery3.min.js"></script>
    <script src="/assets/vendor/popper.js/javascripts/popper.js"></script>
    <script src="/assets/vendor/bootstrap/javascripts/bootstrap.min.js"></script>
  </body>
</html>